#candles{
	text-align: center;
	color: yellow;
	font: sans-serif;
}
h2{
	color:blue;
    width: 40%;
}
.chicken{
	color: orange;
    width: 39%;
}
h4{
    width: 78%;
}
.pie{
	color: #8B008B;
    width: 39%;
}
.fun{
	color: #DC143C;
    width: 39%;
}
.chill{
	color: #008B8B;
    width: 39%;
}
h6{
	color:#5F9EA0;
    width: 40%;
}

h1{
	color:#483D8B;
    width: 40%;
}


