.Images{
	width: 1000px;
}
.Headliner{
	padding-left: 350px;
}

.Ukraine{
	padding-left: 20px;
	float: left;
}
.Bolivia{
	padding-left: 20px;
	float: left;

}
.Alaska{
	padding-left: 20px;
	float: left;
}
.Japan{
	padding-left: 20px;
	float: left;
}
.Greece{
	padding-left: 20px;
	float: left;
}
.Croatia{
	padding-left: 20px;
	float: left;
}
.BoraBora{
	padding-left: 20px;
	float: left;
}
.Scotland{
	padding-left: 20px;
	float: left;
}
.Peru{
	padding-left: 20px;
	float: left;
}